<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patels95.sanam.ewb" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ewb_icon"
        android:label="@string/app_name"
        android:theme="@style/EWBTheme" >
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeOldActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_signUp" >
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="426ec53741e6f6124da2975dff63c12881e3df35" />

        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_home"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.patels95.sanam.ewb.ui.MainActivity" />
        </activity>
    </application>

</manifest>
